Package: icewm-experimental
Source: icewm
Version: 1.3.12+mod+20170325.1
Architecture: amd64
Maintainer: Eduard Bloch <blade@debian.org>
Installed-Size: 33
Depends: icewm (= 1.3.12+mod+20170325.1), icewm-common (= 1.3.12+mod+20170325.1)
Provides: x-window-manager
Section: x11
Priority: optional
Description: wonderful Win95-OS/2-Motif-like window manager
 IceWm is a Window Manager for X Window System. It is fast and
 memory-efficient, and it provides many different looks including Windows'95,
 OS/2 Warp 3,4, Motif. It tries to take the best features of the above
 systems. Additional features include  multiple workspaces, opaque move/resize,
 task bar, window list, mailbox status, digital clock.
 .
 This package sometimes provides special IceWm versions with experimental
 features enabled. When the configurations of the packages do not diverge
 it simply enforces an upgrade to the current icewm package.
